<div class="preguntas" style="float:left">
<p>Seleccione pregunta o categoría </p><br>
	<table>
		<tr>
			<td>Pregunta</td>
			<td>Categoría</td>
		</tr>
	<% var i; 
		for(i=0;i<quizes.length;i++){ %>
		<tr>
			<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<td>
				<form action="/quizes" method="get" name="formCateg"> 
					<input hidden name="categ" type="text" value="<%= quizes[i].tema %>" />
					<a href="javascript:;" onclick="parentNode.submit();"><%= quizes[i].tema %></a>
				</form>
			</td>
			<%if(session.user){%>
			<td>
				<a title="Editar" href="quizes/<%= quizes[i].id %>/edit"><img src="images/editar.png" alt="editar"></img>
			</td>
			<td>
				<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
					<!-- <button type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');">Borrar</button> -->
					<input title="Borrar" type="image" src="images/borrar.png" name="submit"  onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');"/>
				</form>
			</td>
			<%}%>
		</tr>
	<% } %>
	</table>
</div>
 <form method="get" action="/quizes">
 <p>Buscar por pregunta:</p>
 	<input type="text" name="search"/>
	<input type="submit" value="Enviar"/>
 </form>
 <%if(session.user){%>
<p><a href="quizes/new"><button type="button">Crear pregunta</button></a></p>
<%}%>
