<h3>Página de estadísticas</h3>
<p>Nº de Preguntas: <%= pcount%></p>
<p>Nº de Comentarios: <%= ccount%></p>
<p>Nº medio de comentarios por pregunta: <%= cPorP%></p>
<p>Preguntas con comentarios: <%= pregConComent%></p>
<p>Preguntas sin comentarios: <%= pregSinComent%></p>
